body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background: url('https://t.ctcdn.com.br/b_824WWzZXntxDTOdpaZJhF2gvk=/1920x1080/smart/i528837.jpeg');
    background-size: auto;
}

.App {
    /* background-color: #FBEEC1 ; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    color: #5D5C61;
}